{% extends 'layout.twig' %}

{% block content %}
<h2>{% if user %}Edit User{% else %}New User{% endif %}</h2>
<p>
  <a class="btn btn-secondary" href="{{ 'admin/users' | url }}">Back</a>
</p>
{% if errors %}
  {% include('partials/errors.twig') %}
{% endif %}

{% if result %}
  <div class="alert alert-success">User Saved!</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <img class="profile-image" src="{% if user.img_src %}{{ user.img_src | url }} {% else %}{{ 'images/profile_images/default.png' | url }}{% endif %}" alt="Profile Image" id="profileImage">
  </div>
  <div class="custom-file mb-3">
    <input type="file" class="custom-file-input" name="img" id="customFile" accept="image/*">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
  <div class="form-group">
    <label for="inputName">Name</label>
    <input class="form-control" type="text" name="name" id="inputName" value="{% if user %}{{ user.name }}{% endif %}">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input class="form-control" type="text" name="email" id="inputEmail" value="{% if user %}{{ user.email }}{% endif %}">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input class="form-control" type="password" name="password" id="inputPassword">
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Save">
  </div>
</form>
{% endblock %}
