{% extends 'layout.twig' %}

{% block content %}
<h2>Posts</h2>
<div class="mb-3">
  <a class="btn btn-secondary" href="{{ 'admin' | url }}">Back</a>
  <a class="btn btn-primary" href="{{ 'admin/posts/create' | url }}">New Post</a>
</div>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  {% for blogPost in blogPosts %}
      <tr>
        <td>{{ blogPost.title }}</td>
        <td>
          <a href="{{ 'admin/posts/edit/' | url }}{{blogPost.id}}">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>Delete</td>
      </tr>
  {% endfor %}
</table>
{% endblock %}
