{% extends 'layout.twig' %}

{% block content %}
<div class="blog-post">
  <h2>{{ blogPost.title }}</h2>
  {% if blogPost.img_src %}
    <img src="{{ blogPost.img_src | url }}" alt="blog_img">
  {% endif %}
  <p>{{ blogPost.created_at | date('M d, Y h:i a') }} by {{ blogPost.createdBy.name }}</p>
  <div class="blog-post-content">
    {{ blogPost.content }}
  </div>
</div>
{% endblock %}
