{% extends 'layout.twig' %}

{% block content %}
<div class="blog-post">
  <h2>{{ blogPost.title }}</h2>
  {% if blogPost.img_src %}
    <img src="{{ blogPost.img_src | url }}" alt="blog_img">
  {% endif %}
  <p>{{ blogPost.created_at | date('M d, Y h:i a') }} by <a href="{{ '' | url }}profile/{{ blogPost.createdBy.id }}">{{ blogPost.createdBy.name }}</a></p>
  <div class="blog-post-content">
    {{ blogPost.content }}
  </div>
</div>
<div class="comments">
  <h4>Comments ({{ comments | length }})</h4>
  {% for comment in comments %}
    <div class="comment">
      <span><b>{{ comment.created_by }}:</b></span>
      <p>{{ comment.content }}</p>
      <span class="text-muted timestamp">{{ comment.created_at | date('M d, Y h:i a') }}</span>
    </div>
  {% endfor %}
</div>
<div class="new-comment">
  {% if errors %}
    {% include('partials/errors.twig') %}
  {% endif %}
  <form method="post">
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Insert your name/nickname">
      <textarea class="form-control" name="content" rows="2" placeholder="Insert a comment"></textarea>
    </div>
    <div class="form-group text-right">
      <input class="btn btn-primary" type="submit" value="Comment">
    </div>
  </form>
</div>
{% endblock %}
